@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@font-face {
  font-family: "Open Sans Regular";
}
/*- HEADER -*/
/*- APPLICATION -*/
/*- PAGE-SLIDER -*/
/*- STATISTICS -*/
/*- COMMIT-SLIDER -*/
/*- VIDEO -*/
/*- MENTOR -*/
/*- CTA -*/
/*- FOOTER -*/
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html, body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: "Open Sans Regular";
}
/*- HEADER -*/
/*- APPLICATION -*/
/*- PAGE-SLIDER -*/
/*- STATISTICS -*/
/*- COMMIT-SLIDER -*/
/*- VIDEO -*/
/*- MENTOR -*/
/*- CTA -*/
/*- FOOTER -*/
.header {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  z-index: 10000;
}

.header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  height: 100px;
}
@media (max-width: 1210px) {
  .header {
    height: 120px;
  }
}
.header_content {
  width: 1220px;
  margin: 0 auto;
  padding: 0px 15px;
  background-color: #fff;
}
@media (max-width: 1210px) {
  .header_content {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    z-index: 10000;
    height: 170px;
  }
}
.header_logo img {
  width: 80px;
  height: 80px;
  margin: 10px 0px 10px 0px;
}
@media (max-width: 1210px) {
  .header_logo img {
    width: 150px;
    height: 150px;
  }
}
.header_menu {
  margin: -95px 0px 0px 0px;
  height: 80px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 1210px) {
  .header._active {
    width: 100%;
    height: 540px;
  }
}

@media (max-width: 1210px) {
  .menu_body {
    transform: translate(0px, -450%);
    width: 100%;
    height: 100%;
  }
}
.menu_body._active {
  transform: translate(0px, 180%);
  background-color: #fff;
}
.menu_backraund {
  background-color: #357ab7;
  width: 30px;
  height: 20px;
}
@media (min-width: 1210px) {
  .menu_list {
    display: flex;
  }
  .menu_list li {
    margin: 0px 0px 0px 40px;
  }
}
@media (max-width: 1210px) {
  .menu_list {
    margin: -55px 0 0 -1210px;
    text-align: center;
    background-color: #fff;
  }
  .menu_list li {
    margin: 15px 0px 0 0px;
  }
}
.menu_link {
  font-size: 16px;
  color: #6f7982;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease 0s;
}
@media (max-width: 1210px) {
  .menu_link {
    font-size: 30px;
  }
}
.menu a:hover {
  background-color: #357ab7;
  color: #fff;
  transition: background-color 0.19s cubic-bezier(0.2, 0.62, 0.38, 1);
  border-radius: 3.25rem;
  padding: 15px 20px;
  text-align: center;
}

.icon-menu {
  display: none;
}
@media (max-width: 1210px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    margin-left: 900px;
  }
  .icon-menu_span {
    width: 100px;
    height: 60px;
    margin: -80px 0 0 -54px;
    background-color: #357ab7;
    border-radius: 10px;
  }
  .icon-menu span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 40px;
    margin: 25px 0 0 -23px;
    height: 2px;
    background-color: #fff;
  }
  .icon-menu span:first-child {
    top: 0px;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }
  .icon-menu._active span {
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 40px;
    margin: 25px 0 0 -23px;
    background: #fff;
  }
  .icon-menu._active span:first-child {
    top: 0px;
  }
  .icon-menu._active span:last-child {
    top: auto;
    bottom: 0px;
  }
}

.main {
  flex: 1 1 auto;
  margin-top: 100px;
}
@media (max-width: 1210px) {
  .main {
    margin-top: 130px;
  }
}

/*- HEADER -*/
/*- APPLICATION -*/
/*- PAGE-SLIDER -*/
/*- STATISTICS -*/
/*- COMMIT-SLIDER -*/
/*- VIDEO -*/
/*- MENTOR -*/
/*- CTA -*/
/*- FOOTER -*/
@font-face {
  font-family: "Open Sans Regular";
}
.page {
  background-color: #f7f7f7;
}
.page_application {
  max-width: 1220px;
  height: 665px;
  background-color: #f7f7f7;
  margin: 0 auto;
}
@media (max-width: 1210px) {
  .page_application {
    height: 100%;
  }
}
.left {
  width: 540px;
  height: 340px;
  text-align: center;
}
.left h1 {
  padding: 210px 0 0 0;
}
@media (max-width: 1210px) {
  .left h1 {
    padding: 40px 0 0 0;
  }
}
@media (max-width: 1210px) {
  .left {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 40px 0 0 0;
  }
}
.left p {
  font-size: 17px;
  color: #6f7982;
  padding: 10px 40px 0px 40px;
}
@media (max-width: 1210px) {
  .left p {
    padding: 20px 30px 0px 30px;
    font-size: 49px;
  }
}
.left h1 {
  font-size: 35px;
  color: black;
}
@media (max-width: 1210px) {
  .left h1 {
    font-size: 65px;
  }
}

.right {
  margin: -295px 0px 0px 590px;
}
.right h3 {
  font-size: 25px;
}
.right img {
  width: 8px;
  height: 8px;
}
.right input[type=text i], .right [type=tel i], .right [type=email i], .right [type=message i] {
  padding: 1px 10px;
  width: 590px;
  height: 50px;
  border-radius: 5px;
  border: solid black 1px;
}
@media (max-width: 1210px) {
  .right input[type=text i], .right [type=tel i], .right [type=email i], .right [type=message i] {
    width: 900px;
    height: 100px;
    padding: 0 15px 0 15px;
    font-size: 30px;
  }
}
@media (max-width: 1210px) {
  .right input[type=checkbox i] {
    width: 30px;
    height: 30px;
  }
}
.right li {
  color: #6f7982;
  padding: 5px;
}
@media (max-width: 1210px) {
  .right li {
    font-size: 32px;
    padding-top: 20px;
  }
}
.right a {
  color: #357ab7;
}
.right button {
  width: 365px;
  height: 50px;
  text-align: center;
  margin-left: 110px;
  color: white;
  background-color: #357ab7;
  border-radius: 50px;
  border: 1px;
}
@media (max-width: 1210px) {
  .right button {
    margin: 60px 15px 60px 15px;
    width: 900px;
    height: 100px;
    font-size: 35px;
  }
}
@media (max-width: 1210px) {
  .right {
    margin: 40px 0 0 0px;
    padding: 0 15px 0 15px;
  }
  .right h3 {
    font-size: 75px;
  }
}

@font-face {
  font-family: "Open Sans Regular";
}
/*- HEADER -*/
/*- APPLICATION -*/
/*- PAGE-SLIDER -*/
/*- STATISTICS -*/
/*- COMMIT-SLIDER -*/
/*- VIDEO -*/
/*- MENTOR -*/
/*- CTA -*/
/*- FOOTER -*/
.slider {
  background-color: white;
}
@media (max-width: 1210px) {
  .slider {
    height: auto;
  }
}
.slider_item {
  margin: 0 auto;
  height: 560px;
  max-width: 1220px;
  background-color: white;
}
@media (max-width: 1210px) {
  .slider_item {
    height: 1500px;
  }
}
@media (max-width: 1210px) {
  .slider img {
    width: 150px;
  }
}
.slider_text {
  padding: 70px 0 0 0;
  text-align: center;
  font-size: 30px;
  color: #333333;
}
@media (max-width: 1210px) {
  .slider_text {
    margin: 70px 0 0 0;
    font-size: 60px;
  }
}
.slider_blocks {
  display: flex;
  flex-direction: row;
  padding: 45px 0 0 0;
  justify-content: center;
}
.slider_blocks .slick-arrow {
  position: absolute;
  font-size: 0;
}
.slider_blocks .slick-dots {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  margin: 1120px 0 -300px 0px;
}
.slider .slick-list.draggable {
  overflow: hidden;
}
@media (max-width: 1210px) {
  .slider .slick-list.draggable {
    max-width: 800px;
    height: auto;
    align-items: center;
  }
}
.slider .slick-track {
  display: flex;
  align-items: flex-start;
  height: 360px;
}
.slider_block-1 {
  width: 360px;
  height: 360px;
  text-align: center;
}
@media (max-width: 1210px) {
  .slider_block-1 {
    margin-left: 1px;
    height: 1200px;
  }
}
.slider_block-2 {
  width: 360px;
  height: 360px;
  text-align: center;
  margin-left: 65px;
}
@media (max-width: 1210px) {
  .slider_block-2 {
    margin-left: 1px;
    height: 1200px;
  }
}
.slider_block-3 {
  width: 360px;
  height: 360px;
  text-align: center;
  margin-left: 65px;
}
@media (max-width: 1210px) {
  .slider_block-3 {
    margin-left: 1px;
    height: 1200px;
  }
}
.slider h3 {
  font-size: 24px;
  color: #666666;
  font-weight: 400;
}
@media (max-width: 1210px) {
  .slider h3 {
    font-size: 62px;
  }
}
.slider hr {
  border: none;
  background-color: #357ab7;
  color: #357ab7;
  width: 357px;
  height: 1px;
  margin: 24px 0 0 2px;
}
@media (max-width: 1210px) {
  .slider hr {
    margin: 10px 0 0 2px;
    width: 800px;
  }
}
.slider p {
  font-size: 16px;
  color: #666666;
  font-weight: 400;
  margin-top: 35px;
}
@media (max-width: 1210px) {
  .slider p {
    font-size: 55px;
  }
}
.slider .slick-dots li {
  list-style: none;
  margin: 0 10px;
}
.slider .slick-dots li.slick-active button {
  background-color: #6f7982;
  border: 1px solid #6f7982;
}
.slider .slick-dots li button {
  font-size: 0;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
}

@font-face {
  font-family: "Open Sans Regular";
}
/*- HEADER -*/
/*- APPLICATION -*/
/*- PAGE-SLIDER -*/
/*- STATISTICS -*/
/*- COMMIT-SLIDER -*/
/*- VIDEO -*/
/*- MENTOR -*/
/*- CTA -*/
/*- FOOTER -*/
.statistics {
  background-color: #4398db;
}
.statistics_block {
  margin: 0 auto;
  height: 310px;
  max-width: 1220px;
  background-color: #4398db;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1210px) {
  .statistics_block {
    display: block;
    height: 700px;
  }
  .statistics_block img {
    width: 150px;
  }
}

.block {
  padding: 0 42px 0 42px;
}
@media (max-width: 1210px) {
  .block {
    align-items: center;
    justify-content: center;
  }
}
.block_first-element {
  width: 150px;
  height: 145px;
  text-align: center;
}
.block_first-element h3 {
  font-size: 24px;
  font-weight: 400;
  color: white;
}
.block_first-element p {
  font-size: 14px;
  color: white;
  margin-top: 20px;
}
@media (max-width: 1210px) {
  .block_first-element {
    padding: 70px 0 0 0;
    width: 450px;
    height: auto;
  }
  .block_first-element h3 {
    font-size: 35px;
  }
  .block_first-element p {
    font-size: 34px;
    color: white;
    margin-top: 5px;
  }
}
.block_second-element {
  width: 185px;
  height: 145px;
  margin-left: 140px;
  text-align: center;
}
.block_second-element h3 {
  font-size: 24px;
  font-weight: 400;
  color: white;
}
.block_second-element p {
  font-size: 14px;
  color: white;
  margin-top: 20px;
}
@media (max-width: 1210px) {
  .block_second-element {
    padding-top: 20px;
    margin: -275px 0 0 415px;
    width: 450px;
    height: auto;
  }
  .block_second-element h3 {
    font-size: 35px;
  }
  .block_second-element p {
    font-size: 34px;
    margin-top: 5px;
  }
}
.block_third-element {
  width: 140px;
  height: 145px;
  margin-left: 145px;
  text-align: center;
}
.block_third-element h3 {
  font-size: 24px;
  font-weight: 400;
  color: white;
}
.block_third-element p {
  font-size: 14px;
  color: white;
  margin-top: 20px;
}
@media (max-width: 1210px) {
  .block_third-element {
    margin: 15px 0 0 0px;
    width: 450px;
    height: auto;
  }
  .block_third-element h3 {
    font-size: 35px;
  }
  .block_third-element p {
    font-size: 34px;
    margin-top: 5px;
  }
}
.block_fourth-element {
  width: 280px;
  height: 145px;
  margin-left: 95px;
  text-align: center;
}
.block_fourth-element h3 {
  font-size: 24px;
  font-weight: 400;
  color: white;
}
.block_fourth-element p {
  font-size: 14px;
  color: white;
  margin-top: 20px;
}
@media (max-width: 1210px) {
  .block_fourth-element {
    padding: 50px 0 0 0;
    margin: -305px 0 0 415px;
    width: 450px;
    height: auto;
  }
  .block_fourth-element h3 {
    font-size: 35px;
  }
  .block_fourth-element p {
    font-size: 34px;
    margin-top: 5px;
  }
}

@font-face {
  font-family: "Open Sans Regular";
}
/*- HEADER -*/
/*- APPLICATION -*/
/*- PAGE-SLIDER -*/
/*- STATISTICS -*/
/*- COMMIT-SLIDER -*/
/*- VIDEO -*/
/*- MENTOR -*/
/*- CTA -*/
/*- FOOTER -*/
.commit {
  background-color: #fff;
}
.commit_slider {
  background-color: #fff;
  margin: 0 auto;
  height: 530px;
  max-width: 1220px;
}
@media (max-width: 1210px) {
  .commit_slider {
    height: auto;
  }
}
.commit_element .slick-arrow {
  position: absolute;
  font-size: 0;
}
.commit_element .slick-list {
  overflow: hidden;
}
.commit_element .slick-track {
  display: flex;
}
.commit .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}
@media (max-width: 1210px) {
  .commit .slick-dots {
    margin-top: 25px;
    padding: 200px 0 60px 0;
  }
}
.commit .slick-dots li {
  list-style: none;
  margin: 0 10px;
}
.commit .slick-dots li.slick-active button {
  background-color: #6f7982;
  border: 1px solid #6f7982;
}
.commit .slick-dots li button {
  font-size: 0;
  width: 13px;
  height: 13px;
  background-color: white;
  border-radius: 50%;
}
@media (max-width: 1210px) {
  .commit .slick-dots li button {
    width: 30px;
    height: 30px;
  }
}
.commit h3 {
  font-size: 30px;
  color: black;
  font-weight: 400;
  text-align: center;
  padding: 65px 0 0 0;
}
@media (max-width: 1210px) {
  .commit h3 {
    padding: 35px 90px 0 90px;
    font-size: 50px;
  }
}
.commit_text {
  padding: 30px 70px 0 70px;
}
.commit_text h4 {
  font-size: 24px;
  color: #c4c4c4;
  font-weight: 500;
  text-align: center;
  padding: 0 30px 0 30px;
}
.commit_text img.lap {
  margin-left: 1040px;
  margin-top: -50px;
}
@media (max-width: 1210px) {
  .commit_text img.lap {
    margin-left: 800px;
  }
}
.commit_mykola {
  text-align: center;
  padding-top: 40px;
}
.commit_mykola h5 {
  font-size: 20px;
  font-weight: 500;
  color: black;
}
.commit_mykola i {
  color: #c4c4c4;
  font-size: 18px;
}

@font-face {
  font-family: "Open Sans Regular";
}
/*- HEADER -*/
/*- APPLICATION -*/
/*- PAGE-SLIDER -*/
/*- STATISTICS -*/
/*- COMMIT-SLIDER -*/
/*- VIDEO -*/
/*- MENTOR -*/
/*- CTA -*/
/*- FOOTER -*/
.video {
  background-color: #f7f7f7;
}
.video_element {
  height: 865px;
  margin: 0 auto;
  max-width: 1220px;
  background-color: #f7f7f7;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1210px) {
  .video_element {
    height: auto;
  }
}
.video h3 {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  padding-top: 75px;
}
@media (max-width: 1210px) {
  .video h3 {
    font-size: 50px;
    padding-top: 155px;
  }
}
.video_text {
  width: 1210px;
  height: 115px;
  padding-top: 20px;
}
.video_text p {
  font-size: 17px;
  color: #7c7c7c;
}
@media (max-width: 1210px) {
  .video_text {
    width: 900px;
    height: auto;
    padding: 20px 15px 30px 15px;
    margin: 0 0 0 25px;
  }
  .video_text p {
    text-align: center;
    font-size: 14px;
    color: #7c7c7c;
  }
}
.video_vid {
  text-align: center;
  padding-top: 30px;
}
@media (max-width: 1210px) {
  .video_vid {
    max-width: 100%;
    height: auto;
    padding: 0 15px 90px 15px;
  }
  .video_vid iframe {
    max-width: 100%;
  }
}

@font-face {
  font-family: "Open Sans Regular";
}
/*- HEADER -*/
/*- APPLICATION -*/
/*- PAGE-SLIDER -*/
/*- STATISTICS -*/
/*- COMMIT-SLIDER -*/
/*- VIDEO -*/
/*- MENTOR -*/
/*- CTA -*/
/*- FOOTER -*/
.mentor {
  background-color: #fff;
}
.mentor_slider {
  background-color: #fff;
  margin: 0 auto;
  height: 610px;
  max-width: 1220px;
}
@media (max-width: 1210px) {
  .mentor_slider {
    height: auto;
  }
  .mentor_slider img {
    width: 400px;
    height: 400px;
    margin: 0px 0 0 280px;
  }
}
.mentor h3 {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  padding: 75px 0 0 0;
}
@media (max-width: 1210px) {
  .mentor h3 {
    padding: 35px 0 0 0;
  }
}
.mentor_element .slick-arrow {
  position: absolute;
  font-size: 0;
}
.mentor_element .slick-list {
  overflow: hidden;
}
.mentor_element .slick-track {
  display: flex;
}
.mentor_text h5 {
  font-size: 20px;
  color: #4398db;
  margin: -300px 0 0 400px;
}
@media (max-width: 1210px) {
  .mentor_text h5 {
    margin: 0 0 0 0;
    text-align: center;
  }
}
.mentor_text hr {
  background-color: black;
  color: black;
  width: 670px;
  margin: 20px 0 0 400px;
}
@media (max-width: 1210px) {
  .mentor_text hr {
    width: 900px;
    margin: 50px 0 0 40px;
  }
}
.mentor_text h4 {
  width: 670px;
  height: 300px;
  font-size: 16px;
  font-weight: 400;
  color: #b6b6b6;
  margin: 35px 0 0 400px;
}
@media (max-width: 1210px) {
  .mentor_text h4 {
    width: 900px;
    height: auto;
    font-size: 15px;
    margin: 35px 0 0 0;
    padding: 10px 40px 0 40px;
    text-align: center;
  }
}
.mentor .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 45px 0;
}
@media (max-width: 1210px) {
  .mentor .slick-dots {
    padding: 50px 0 50px 0;
  }
}
.mentor .slick-dots li {
  list-style: none;
  margin: 0 10px;
}
.mentor .slick-dots li.slick-active button {
  background-color: #6f7982;
  border: 1px solid #6f7982;
}
.mentor .slick-dots li button {
  font-size: 0;
  width: 13px;
  height: 13px;
  background-color: white;
  border-radius: 50%;
}
@media (max-width: 1210px) {
  .mentor .slick-dots li button {
    width: 30px;
    height: 30px;
  }
}

.map {
  width: 100%;
  height: 400px;
}
@media (max-width: 1210px) {
  .map {
    height: 900px;
  }
  .map iframe {
    height: 900px;
  }
}

@font-face {
  font-family: "Open Sans Regular";
}
/*- HEADER -*/
/*- APPLICATION -*/
/*- PAGE-SLIDER -*/
/*- STATISTICS -*/
/*- COMMIT-SLIDER -*/
/*- VIDEO -*/
/*- MENTOR -*/
/*- CTA -*/
/*- FOOTER -*/
.cta {
  background-color: #4398db;
}
.cta_blocks {
  margin: 0 auto;
  height: 200px;
  max-width: 1220px;
  background-color: #4398db;
  display: flex;
  flex-direction: row;
}
@media (max-width: 1210px) {
  .cta_blocks {
    display: block;
    height: auto;
  }
}

.blocks {
  padding: 0 42px 0px 42px;
}
@media (max-width: 1210px) {
  .blocks {
    align-items: center;
    justify-content: center;
    padding: 0 42px 0px 72px;
  }
}
.blocks_first-element {
  padding: 45px 0 0 0;
  width: 150px;
  height: 145px;
  text-align: center;
}
.blocks_first-element img {
  width: 30px;
  height: 30px;
}
@media (max-width: 1210px) {
  .blocks_first-element img {
    width: 80px;
    height: 80px;
  }
}
.blocks_first-element h3 {
  font-size: 24px;
  font-weight: 400;
  color: white;
}
@media (max-width: 1210px) {
  .blocks_first-element h3 {
    font-size: 40px;
  }
}
.blocks_first-element div {
  margin-top: 20px;
}
.blocks_first-element div a {
  font-size: 14px;
  color: white;
}
@media (max-width: 1210px) {
  .blocks_first-element div a {
    font-size: 30px;
  }
}
@media (max-width: 1210px) {
  .blocks_first-element {
    padding: 35px 0 0 0;
    width: 450px;
    height: auto;
  }
  .blocks_first-element a {
    color: white;
    margin-top: 5px;
  }
}
.blocks_second-element {
  padding: 45px 0 0 0;
  width: 185px;
  height: 145px;
  margin-left: 140px;
  text-align: center;
}
.blocks_second-element img {
  width: 30px;
  height: 30px;
}
@media (max-width: 1210px) {
  .blocks_second-element img {
    width: 80px;
    height: 80px;
  }
}
.blocks_second-element h3 {
  font-size: 24px;
  font-weight: 400;
  color: white;
}
@media (max-width: 1210px) {
  .blocks_second-element h3 {
    font-size: 40px;
  }
}
.blocks_second-element div {
  margin-top: 20px;
}
.blocks_second-element div a {
  font-size: 14px;
  color: white;
}
@media (max-width: 1210px) {
  .blocks_second-element div a {
    font-size: 30px;
  }
}
@media (max-width: 1210px) {
  .blocks_second-element {
    padding: 50px 0 0 0;
    margin: -252px 0 0 385px;
    width: 450px;
    height: auto;
  }
  .blocks_second-element a {
    margin-top: 5px;
  }
}
.blocks_third-element {
  padding: 45px 0 0 0;
  width: 180px;
  height: 145px;
  margin-left: 145px;
  text-align: center;
}
.blocks_third-element img {
  width: 30px;
  height: 30px;
}
@media (max-width: 1210px) {
  .blocks_third-element img {
    width: 80px;
    height: 80px;
  }
}
.blocks_third-element h3 {
  font-size: 24px;
  font-weight: 400;
  color: white;
}
@media (max-width: 1210px) {
  .blocks_third-element h3 {
    font-size: 40px;
  }
}
.blocks_third-element div {
  margin-top: 20px;
}
.blocks_third-element div a {
  font-size: 14px;
  color: white;
}
@media (max-width: 1210px) {
  .blocks_third-element div a {
    font-size: 30px;
  }
}
@media (max-width: 1210px) {
  .blocks_third-element {
    padding: 0px 0 0 0;
    margin: 15px 0 40px 0px;
    width: 450px;
    height: auto;
  }
  .blocks_third-element a {
    margin-top: 5px;
  }
}
.blocks_fourth-element {
  padding: 45px 0 0 0;
  width: 280px;
  height: 145px;
  margin-left: 95px;
  text-align: center;
}
.blocks_fourth-element img {
  width: 30px;
  height: 30px;
}
@media (max-width: 1210px) {
  .blocks_fourth-element img {
    width: 80px;
    height: 80px;
  }
}
.blocks_fourth-element h3 {
  font-size: 24px;
  font-weight: 400;
  color: white;
}
@media (max-width: 1210px) {
  .blocks_fourth-element h3 {
    font-size: 40px;
  }
}
.blocks_fourth-element div {
  margin-top: 20px;
}
.blocks_fourth-element div a {
  font-size: 14px;
  color: white;
}
@media (max-width: 1210px) {
  .blocks_fourth-element div a {
    font-size: 30px;
  }
}
@media (max-width: 1210px) {
  .blocks_fourth-element {
    padding: 50px 0 40px 0;
    margin: -290px 0 0 385px;
    width: 450px;
    height: auto;
  }
  .blocks_fourth-element a {
    margin-top: 5px;
  }
}

/*- HEADER -*/
/*- APPLICATION -*/
/*- PAGE-SLIDER -*/
/*- STATISTICS -*/
/*- COMMIT-SLIDER -*/
/*- VIDEO -*/
/*- MENTOR -*/
/*- CTA -*/
/*- FOOTER -*/
@font-face {
  font-family: "Open Sans Regular";
}
.footer {
  background-color: #f7f7f7;
}
.footer_element {
  background-color: #f7f7f7;
  height: 155px;
  margin: 0 auto;
  max-width: 1220px;
  text-align: center;
}
@media (max-width: 1210px) {
  .footer_element {
    height: auto;
  }
}
.footer_element p {
  padding: 55px 0 0 0;
  color: #6a9dc9;
}
.footer_element div {
  padding: 20px 0 50px 0;
}
@media (max-width: 1210px) {
  .footer_element div {
    padding: 50px 0 50px 0;
  }
}
.footer_element div a {
  color: #8e8e8e;
}
/*# sourceMappingURL=style.css.map */
