@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@font-face {
  font-family: "Open Sans Regular";
}
/*- HEADER -*/
/*- APPLICATION -*/
/*- PAGE-SLIDER -*/
/*- STATISTICS -*/
/*- COMMIT-SLIDER -*/
/*- VIDEO -*/
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html, body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: "Open Sans Regular";
}
/*- HEADER -*/
/*- APPLICATION -*/
/*- PAGE-SLIDER -*/
/*- STATISTICS -*/
/*- COMMIT-SLIDER -*/
/*- VIDEO -*/
.header {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.header_content {
  max-width: 1220px;
  margin: 0 auto;
  height: 100px;
  padding: 0px 15px;
  background-color: #fff;
}
.header_logo img {
  width: 80px;
  height: 80px;
  margin: 10px 0px 10px 0px;
}
.header_menu {
  margin: -95px 0px 0px 0px;
  height: 80px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 1210px) {
  .header._active {
    width: 100%;
    height: 330px;
  }
}

@media (max-width: 1210px) {
  .menu_body {
    transform: translate(0px, -220%);
    width: 100%;
    height: 100%;
  }
}
.menu_body._active {
  transform: translate(0px, 180%);
  background-color: #fff;
}
.menu_backraund {
  background-color: #357ab7;
  width: 30px;
  height: 20px;
}
@media (min-width: 1210px) {
  .menu_list {
    display: flex;
  }
  .menu_list li {
    margin: 0px 0px 0px 40px;
  }
}
@media (max-width: 1210px) {
  .menu_list {
    margin: -55px 0 0 -800px;
    text-align: center;
    background-color: #fff;
  }
  .menu_list li {
    margin: 15px 0px 0 0px;
  }
}
.menu_link {
  font-size: 16px;
  color: #6f7982;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease 0s;
}
.menu a:hover {
  background-color: #357ab7;
  color: #fff;
  transition: background-color 0.19s cubic-bezier(0.2, 0.62, 0.38, 1);
  border-radius: 3.25rem;
  padding: 15px 20px;
  text-align: center;
}

.icon-menu {
  display: none;
}
@media (max-width: 1210px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    margin-left: 800px;
  }
  .icon-menu span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: black;
  }
  .icon-menu span:first-child {
    top: 0px;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }
  .icon-menu._active span {
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 30px;
    height: 2px;
    background: black;
  }
  .icon-menu._active span:first-child {
    top: 0px;
  }
  .icon-menu._active span:last-child {
    top: auto;
    bottom: 0px;
  }
}

.main {
  flex: 1 1 auto;
}

/*- HEADER -*/
/*- APPLICATION -*/
/*- PAGE-SLIDER -*/
/*- STATISTICS -*/
/*- COMMIT-SLIDER -*/
/*- VIDEO -*/
@font-face {
  font-family: "Open Sans Regular";
}
.page {
  background-color: #f7f7f7;
}
.page_application {
  max-width: 1220px;
  height: 665px;
  background-color: #f7f7f7;
  margin: 0 auto;
}
@media (max-width: 1210px) {
  .page_application {
    height: 1050px;
  }
}
.left {
  width: 540px;
  height: 340px;
  text-align: center;
}
.left h1 {
  padding: 210px 0 0 0;
}
@media (max-width: 1210px) {
  .left h1 {
    padding: 40px 0 0 0;
  }
}
@media (max-width: 1210px) {
  .left {
    text-align: center;
    margin: 40px 0 0 245px;
  }
}
.left p {
  font-size: 17px;
  color: #6f7982;
  padding: 10px 40px 0px 40px;
}
.left h1 {
  font-size: 35px;
  color: black;
}

.right {
  margin: -295px 0px 0px 590px;
}
.right h3 {
  font-size: 25px;
}
.right img {
  width: 8px;
  height: 8px;
}
.right input[type=text i], .right [type=tel i], .right [type=email i], .right [type=message] {
  padding: 1px 10px;
  width: 590px;
  height: 50px;
  border-radius: 5px;
  border: solid black 1px;
}
.right li {
  color: #6f7982;
  padding: 5px;
}
.right a {
  color: #357ab7;
}
.right button {
  width: 365px;
  height: 50px;
  text-align: center;
  margin-left: 110px;
  color: white;
  background-color: #357ab7;
  border-radius: 50px;
  border: 1px;
}
@media (max-width: 1210px) {
  .right {
    margin: 40px 0 0 210px;
  }
  .right h3 {
    margin-left: 150px;
  }
}

@font-face {
  font-family: "Open Sans Regular";
}
/*- HEADER -*/
/*- APPLICATION -*/
/*- PAGE-SLIDER -*/
/*- STATISTICS -*/
/*- COMMIT-SLIDER -*/
/*- VIDEO -*/
.slider {
  background-color: white;
}
.slider_item {
  margin: 0 auto;
  height: 560px;
  max-width: 1220px;
  background-color: white;
}
.slider_text {
  padding: 70px 0 0 0;
  text-align: center;
  font-size: 30px;
  color: #333333;
}
.slider_blocks {
  display: flex;
  flex-direction: row;
  padding: 45px 0 0 0;
  justify-content: center;
}
.slider_blocks .slick-arrow {
  position: absolute;
  font-size: 0;
}
@media (max-width: 1210px) {
  .slider_blocks {
    margin: 0 0 0 -130px;
  }
}
.slider .slick-list.draggable {
  overflow: hidden;
}
@media (max-width: 1210px) {
  .slider .slick-list.draggable {
    width: 360px;
    align-items: center;
  }
}
.slider .slick-track {
  display: flex;
  align-items: flex-start;
  height: 360px;
}
.slider_block-1 {
  width: 360px;
  height: 360px;
  text-align: center;
}
@media (max-width: 1210px) {
  .slider_block-1 {
    margin-left: 1px;
  }
}
.slider_block-2 {
  width: 360px;
  height: 360px;
  text-align: center;
  margin-left: 65px;
}
@media (max-width: 1210px) {
  .slider_block-2 {
    margin-left: 1px;
  }
}
.slider_block-3 {
  width: 360px;
  height: 360px;
  text-align: center;
  margin-left: 65px;
}
@media (max-width: 1210px) {
  .slider_block-3 {
    margin-left: 1px;
  }
}
.slider h3 {
  font-size: 24px;
  color: #666666;
  font-weight: 400;
}
.slider hr {
  border: none;
  background-color: #357ab7;
  color: #357ab7;
  width: 357px;
  height: 1px;
  margin: 24px 0 0 2px;
}
@media (max-width: 1210px) {
  .slider hr {
    margin: 10px 0 0 2px;
  }
}
.slider p {
  font-size: 16px;
  color: #666666;
  font-weight: 400;
  margin-top: 35px;
}
.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 -300px -220px;
}
.slider .slick-dots li {
  list-style: none;
  margin: 0 10px;
}
.slider .slick-dots li.slick-active button {
  background-color: #6f7982;
  border: 1px solid #6f7982;
}
.slider .slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}

@font-face {
  font-family: "Open Sans Regular";
}
/*- HEADER -*/
/*- APPLICATION -*/
/*- PAGE-SLIDER -*/
/*- STATISTICS -*/
/*- COMMIT-SLIDER -*/
/*- VIDEO -*/
.statistics {
  background-color: #4398db;
}
.statistics_block {
  margin: 0 auto;
  height: 310px;
  max-width: 1220px;
  background-color: #4398db;
  display: flex;
  flex-direction: row;
}
@media (max-width: 1210px) {
  .statistics_block {
    display: block;
    height: 340px;
  }
}

.block {
  padding: 0 42px 0 42px;
}
@media (max-width: 1210px) {
  .block {
    align-items: center;
    justify-content: center;
    padding: 0 230px 0 230px;
  }
}
.block_first-element {
  padding: 85px 0 0 0;
  width: 150px;
  height: 145px;
  text-align: center;
}
.block_first-element h3 {
  font-size: 24px;
  font-weight: 400;
  color: white;
}
.block_first-element p {
  font-size: 14px;
  color: white;
  margin-top: 20px;
}
@media (max-width: 1210px) {
  .block_first-element {
    padding: 20px 0 0 0;
  }
  .block_first-element p {
    font-size: 14px;
    color: white;
    margin-top: 5px;
  }
}
.block_second-element {
  padding: 85px 0 0 0;
  width: 185px;
  height: 145px;
  margin-left: 140px;
  text-align: center;
}
.block_second-element h3 {
  font-size: 24px;
  font-weight: 400;
  color: white;
}
.block_second-element p {
  font-size: 14px;
  color: white;
  margin-top: 20px;
}
@media (max-width: 1210px) {
  .block_second-element {
    padding: 50px 0 0 0;
    margin: -195px 0 0 320px;
  }
  .block_second-element p {
    margin-top: 5px;
  }
}
.block_third-element {
  padding: 85px 0 0 0;
  width: 140px;
  height: 145px;
  margin-left: 145px;
  text-align: center;
}
.block_third-element h3 {
  font-size: 24px;
  font-weight: 400;
  color: white;
}
.block_third-element p {
  font-size: 14px;
  color: white;
  margin-top: 20px;
}
@media (max-width: 1210px) {
  .block_third-element {
    padding: 0px 0 0 0;
    margin: 15px 0 0 0px;
  }
  .block_third-element p {
    margin-top: 5px;
  }
}
.block_fourth-element {
  padding: 85px 0 0 0;
  width: 280px;
  height: 145px;
  margin-left: 95px;
  text-align: center;
}
.block_fourth-element h3 {
  font-size: 24px;
  font-weight: 400;
  color: white;
}
.block_fourth-element p {
  font-size: 14px;
  color: white;
  margin-top: 20px;
}
@media (max-width: 1210px) {
  .block_fourth-element {
    padding: 50px 0 0 0;
    margin: -195px 0 0 270px;
  }
  .block_fourth-element p {
    margin-top: 5px;
  }
}

@font-face {
  font-family: "Open Sans Regular";
}
/*- HEADER -*/
/*- APPLICATION -*/
/*- PAGE-SLIDER -*/
/*- STATISTICS -*/
/*- COMMIT-SLIDER -*/
/*- VIDEO -*/
.commit {
  background-color: #fff;
}
.commit_slider {
  background-color: #fff;
  margin: 0 auto;
  height: 530px;
  max-width: 1220px;
}
.commit_element .slick-arrow {
  position: absolute;
  font-size: 0;
}
.commit_element .slick-list {
  overflow: hidden;
}
.commit_element .slick-track {
  display: flex;
}
.commit .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}
@media (max-width: 1210px) {
  .commit .slick-dots {
    padding-top: 30px;
  }
}
.commit .slick-dots li {
  list-style: none;
  margin: 0 10px;
}
.commit .slick-dots li.slick-active button {
  background-color: #6f7982;
  border: 1px solid #6f7982;
}
.commit .slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}
.commit h3 {
  font-size: 30px;
  color: black;
  font-weight: 400;
  text-align: center;
  padding: 65px 0 0 0;
}
@media (max-width: 1210px) {
  .commit h3 {
    padding: 35px 0 0 0;
  }
}
.commit_text {
  padding: 30px 70px 0 70px;
}
.commit_text h4 {
  font-size: 24px;
  color: #c4c4c4;
  font-weight: 500;
  text-align: center;
  padding: 0 30px 0 30px;
}
.commit_text img.lap {
  margin-left: 1040px;
  margin-top: -50px;
}
@media (max-width: 1210px) {
  .commit_text img.lap {
    margin-left: 800px;
  }
}
.commit_mykola {
  text-align: center;
  padding-top: 40px;
}
.commit_mykola h5 {
  font-size: 20px;
  font-weight: 500;
  color: black;
}
.commit_mykola i {
  color: #c4c4c4;
  font-size: 18px;
}

@font-face {
  font-family: "Open Sans Regular";
}
/*- HEADER -*/
/*- APPLICATION -*/
/*- PAGE-SLIDER -*/
/*- STATISTICS -*/
/*- COMMIT-SLIDER -*/
/*- VIDEO -*/
.video {
  background-color: #f7f7f7;
}
.video_element {
  height: 865px;
  margin: 0 auto;
  max-width: 1220px;
  background-color: #f7f7f7;
  align-items: center;
  justify-content: center;
}
.video h3 {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  padding-top: 75px;
}
.video_text {
  width: 1210px;
  height: 115px;
  padding-top: 20px;
}
.video_text p {
  font-size: 17px;
  color: #7c7c7c;
}
@media (max-width: 1210px) {
  .video_text {
    width: 950px;
    height: 130px;
    padding: 20px 15px 0 15px;
  }
  .video_text p {
    font-size: 14px;
    color: #7c7c7c;
  }
}
.video_vid {
  text-align: center;
  padding-top: 30px;
}
@media (max-width: 1210px) {
  .video_vid {
    max-width: 100%;
    height: auto;
  }
}
/*# sourceMappingURL=style.css.map */
