@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@font-face {
  font-family: "Open Sans Regular";
}
/*- HEADER -*/
/*- APPLICATION -*/
/*- PAGE-SLIDER -*/
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html, body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

@font-face {
  font-family: "Open Sans Regular";
}
/*- HEADER -*/
/*- APPLICATION -*/
/*- PAGE-SLIDER -*/
.header {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.header_content {
  max-width: 1220px;
  margin: 0 auto;
  height: 100px;
  padding: 0px 15px;
  background-color: #fff;
}
.header_logo img {
  width: 80px;
  height: 80px;
  margin: 10px 0px 10px 0px;
}
.header_menu {
  margin: -95px 0px 0px 0px;
  height: 80px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 1024px) {
  .header._active {
    width: 100%;
    height: 330px;
  }
}

@media (max-width: 1024px) {
  .menu_body {
    transform: translate(0px, -220%);
    width: 100%;
    height: 100%;
  }
}
.menu_body._active {
  transform: translate(0px, 180%);
  background-color: #fff;
}
.menu_backraund {
  background-color: #357ab7;
  width: 30px;
  height: 20px;
}
@media (min-width: 1024px) {
  .menu_list {
    display: flex;
  }
  .menu_list li {
    margin: 0px 0px 0px 40px;
  }
}
@media (max-width: 1024px) {
  .menu_list {
    margin: -55px 0 0 -800px;
    text-align: center;
    background-color: #fff;
  }
  .menu_list li {
    margin: 15px 0px 0 0px;
  }
}
.menu_link {
  font-size: 16px;
  color: #6f7982;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease 0s;
}
.menu a:hover {
  background-color: #357ab7;
  color: #fff;
  transition: background-color 0.19s cubic-bezier(0.2, 0.62, 0.38, 1);
  border-radius: 3.25rem;
  padding: 15px 20px;
  text-align: center;
}

.icon-menu {
  display: none;
}
@media (max-width: 1024px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    margin-left: 800px;
  }
  .icon-menu span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: black;
  }
  .icon-menu span:first-child {
    top: 0px;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }
  .icon-menu._active span {
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 30px;
    height: 2px;
    background: black;
  }
  .icon-menu._active span:first-child {
    top: 0px;
  }
  .icon-menu._active span:last-child {
    top: auto;
    bottom: 0px;
  }
}

/*- HEADER -*/
/*- APPLICATION -*/
/*- PAGE-SLIDER -*/
@font-face {
  font-family: "Open Sans Regular";
}
.page {
  background-color: #f7f7f7;
}
.page_application {
  max-width: 1220px;
  height: 665px;
  background-color: #f7f7f7;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .page_application {
    height: 1050px;
  }
}
.left {
  width: 540px;
  height: 340px;
  text-align: center;
}
.left h1 {
  padding: 210px 0 0 0;
}
@media (max-width: 1024px) {
  .left h1 {
    padding: 40px 0 0 0;
  }
}
@media (max-width: 1024px) {
  .left {
    text-align: center;
    margin: 40px 0 0 245px;
  }
}
.left p {
  font-size: 17px;
  color: #6f7982;
  padding: 10px 40px 0px 40px;
}
.left h1 {
  font-size: 35px;
  color: black;
}

.right {
  margin: -295px 0px 0px 590px;
}
.right h3 {
  font-size: 25px;
}
.right img {
  width: 8px;
  height: 8px;
}
.right input[type=text i], .right [type=tel i], .right [type=email i], .right [type=message] {
  padding: 1px 10px;
  width: 590px;
  height: 50px;
  border-radius: 5px;
  border: solid black 1px;
}
.right li {
  color: #6f7982;
  padding: 5px;
}
.right a {
  color: #357ab7;
}
.right button {
  width: 365px;
  height: 50px;
  text-align: center;
  margin-left: 110px;
  color: white;
  background-color: #357ab7;
  border-radius: 50px;
  border: 1px;
}
@media (max-width: 1024px) {
  .right {
    margin: 40px 0 0 210px;
  }
  .right h3 {
    margin-left: 150px;
  }
}

@font-face {
  font-family: "Open Sans Regular";
}
/*- HEADER -*/
/*- APPLICATION -*/
/*- PAGE-SLIDER -*/
.slider {
  background-color: white;
}
.slider_item {
  margin: 0 auto;
  height: 560px;
  max-width: 1220px;
  background-color: white;
}
.slider_text {
  padding: 70px 0 0 0;
  text-align: center;
  font-size: 30px;
  color: #333333;
}
.slider_blocks {
  display: flex;
  flex-direction: row;
  padding: 45px 0 0 0;
}
.slider_block-1 {
  width: 360px;
  height: 320px;
  text-align: center;
  margin-left: 45px;
}
.slider_block-2 {
  width: 360px;
  height: 320px;
  text-align: center;
  margin-left: 45px;
}
.slider_block-3 {
  width: 360px;
  height: 320px;
  text-align: center;
  margin-left: 45px;
}
.slider h3 {
  font-size: 24px;
  color: #666666;
  font-weight: 400;
}
.slider hr {
  border: none;
  background-color: #357ab7;
  color: #357ab7;
  width: 357px;
  height: 1px;
  margin: 24px 0 0 2px;
}
.slider p {
  font-size: 16px;
  color: #666666;
  font-weight: 400;
  margin-top: 35px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
/*# sourceMappingURL=style.css.map */
