@import "variables";
@import "fonts";
@import "mixins";

.commit {
  background-color: $commit-background;

  &_slider {
    background-color: $commit-background;
    margin: 0 auto;
    height: 530px;
    max-width: $maxWidthContainer;
  @media (max-width: $minWidth) {
    height: auto;
  }
  }

  &_element{
    .slick-arrow{
      position: absolute;
      font-size: 0;
    }
    .slick-list{
      overflow: hidden;
    }
    .slick-track{
      display: flex;
    }

  }
  .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    @media (max-width: $minWidth){
      margin-top: 25px;
      padding: 200px 0 60px 0;
    }
  }
  .slick-dots li{
    list-style: none;
    margin: 0 10px;
  }

  .slick-dots li.slick-active button{
    background-color: #6f7982;
    border: 1px solid #6f7982;
  }

  .slick-dots li button{
    font-size: 0;
    width: 13px;
    height: 13px;
    background-color: $slider-color;
    border-radius: 50%;
    @media(max-width: $minWidth){
      width: 30px;
      height: 30px;
    }
  }
  h3 {
    font-size: 30px;
    color: $commit-slider;
    font-weight: 400;
    text-align: center;
    padding: 65px 0 0 0;
    @media (max-width: $minWidth){
      padding: 35px 90px 0 90px;
      font-size: 50px;
    }
  }

  &_text {
    padding: 30px 70px 0 70px;

    h4 {
      font-size: 24px;
      color: $commit-text;
      font-weight: 500;
      text-align: center;
      padding: 0 30px 0 30px;
    }

    img.lap {
      margin-left: 1040px;
      margin-top: -50px;
      @media (max-width: $minWidth){
        margin-left: 800px;
      }
    }

  }
&_mykola{
  text-align: center;
  padding-top: 40px;
  h5{
    font-size: 20px;
    font-weight: 500;
    color: $commit-slider;
  }
  i{
    color: $commit-text;
    font-size: 18px;
  }
}
}