@import "variables";
@import "fonts";
@import "mixins";

.cta {
  background-color: $cta-background;

  &_blocks {
    margin: 0 auto;
    height: 200px;
    max-width: $maxWidthContainer;
    background-color: $cta-background;
    display: flex;
    flex-direction: row;
    @media (max-width: $minWidth) {
      display: block;
      height: 340px;

    }
  }

}

.blocks {
  padding: 0 42px 0px 42px;
  @media (max-width: $minWidth) {
    align-items: center;
    justify-content: center;
    padding: 0 230px 0 230px;
  }

  &_first-element {
    padding: 45px 0 0 0;
    width: 150px;
    height: 145px;
    text-align: center;

    img {
      width: 30px;
      height: 30px;
    }

    h3 {
      font-size: 24px;
      font-weight: 400;
      color: $cta-text;
    }

    div {
      margin-top: 20px;

      a {
        font-size: 14px;
        color: $cta-text;

      }
    }

    @media (max-width: $minWidth) {
      padding: 35px 0 0 0;
      a {
        font-size: 14px;
        color: $cta-text;
        margin-top: 5px;
      }
    }
  }

  &_second-element {
    padding: 45px 0 0 0;
    width: 185px;
    height: 145px;
    margin-left: 140px;
    text-align: center;

    img {
      width: 30px;
      height: 30px;
    }

    h3 {
      font-size: 24px;
      font-weight: 400;
      color: $cta-text;
    }

    div {
      margin-top: 20px;

      a {
        font-size: 14px;
        color: $cta-text;

      }
    }

    @media (max-width: $minWidth) {
      padding: 50px 0 0 0;
      margin: -195px 0 0 320px;
      a {
        margin-top: 5px;
      }
    }
  }

  &_third-element {
    padding: 45px 0 0 0;
    width: 180px;
    height: 145px;
    margin-left: 145px;
    text-align: center;

    img {
      width: 30px;
      height: 30px;
    }

    h3 {
      font-size: 24px;
      font-weight: 400;
      color: $cta-text;
    }

    div {
      margin-top: 20px;

      a {
        font-size: 14px;
        color: $cta-text;

      }
    }

    @media (max-width: $minWidth) {
      padding: 0px 0 0 0;
      margin: 15px 0 0 0px;
      a {
        margin-top: 5px;
      }
    }
  }

  &_fourth-element {
    padding: 45px 0 0 0;
    width: 280px;
    height: 145px;
    margin-left: 95px;
    text-align: center;

    img {
      width: 30px;
      height: 30px;
    }

    h3 {
      font-size: 24px;
      font-weight: 400;
      color: $cta-text;
    }

    div {
      margin-top: 20px;

      a {
        font-size: 14px;
        color: $cta-text;

      }
    }

    @media (max-width: $minWidth) {
      padding: 50px 0 0 0;
      margin: -195px 0 0 270px;
      a {
        margin-top: 5px;
      }
    }
  }

}