@import "variables";
@import "fonts";
@import "mixins";

.header {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
  z-index: 10000;
}

.header {
  background-color: $header-color;
  width: 100%;
position: fixed;
  height: 100px;
  @media (max-width: $minWidth){
    height: 120px;
  }
  &_content {
    width: $maxWidthContainer;
    margin: 0 auto;
    padding: 0px 15px;
    background-color: $header-color;
    @media (max-width: $minWidth){
      box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
      z-index: 10000;
      height: 170px;
    }
  }

  &_logo img {
    width: 80px;
    height: 80px;
    margin: 10px 0px 10px 0px;
    @media (max-width: $minWidth){
    width: 150px;
      height: 150px;
    }
  }

  &_menu {
    margin: -95px 0px 0px 0px;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }

  @media (max-width: $minWidth) {
    &._active {
      width: 100%;
      height: 540px;
    }
  }
}

.menu {
  &_icon {

  }

  &_body {
    @media (max-width: $minWidth) {
      transform: translate(0px, -450%);
      width: 100%;
      height: 100%;
    }

    &._active {
      transform: translate(0px, 180%);
      background-color: $header-color;
    }
  }

  &_backraund {
    background-color: $bottom-color;
    width: 30px;
    height: 20px;
  }

  &_list {


    @media (min-width: $minWidth) {
      display: flex;
      li {
        margin: 0px 0px 0px 40px;
      }
    }
    @media (max-width: $minWidth) {
      margin: -55px 0 0 -1210px;

      text-align: center;
      background-color: $header-color;
      li {
        margin: 15px 0px 0 0px;
      }
    }
  }

  &_link {
    font-size: 16px;
    color: $header-text;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease 0s;
    @media (max-width: $minWidth){
      font-size: 30px;
    }
  }

  a:hover {
    background-color: $bottom-color;
    color: $header-color;
    transition: background-color .19s cubic-bezier(.2, .62, .38, 1);
    border-radius: 3.25rem;
    padding: 15px 20px;
    text-align: center;
  }
}

.icon-menu {
  display: none;
  @media (max-width: $minWidth) {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    margin-left: 900px;
&_span{
  width: 100px;
  height: 60px;
  margin: -80px 0 0 -54px;
  background-color: $bottom-color;
  border-radius: 10px;

}
    span {
      transition: all 0.3s ease 0s;
      top: calc(50% - 1px);
      left: 0px;
      position: absolute;
      width: 40px;
      margin: 25px 0 0 -23px;
      height: 2px;
      background-color: $header-color;

      &:first-child {
        top: 0px;
      }

      &:last-child {
        top: auto;
        bottom: 0px;

      }
    }
    &._active {
      span {
        transition: all 0.3s ease 0s;
        left: 0px;
        position: absolute;
        width: 40px;
        margin: 25px 0 0 -23px;
        background: $header-color;

        &:first-child {
          top: 0px;
        }

        &:last-child {
          top: auto;
          bottom: 0px;
        }
      }
    }
  }
}