@import "fonts";
@import "mixins";
@import "variables";
.mentor{
  background-color: $mentor-background;
  &_slider{
    background-color: $mentor-background;
    margin: 0 auto;
    height: 610px;
    max-width: $maxWidthContainer;
    @media(max-width: $minWidth){
      height: auto;
    img{
        width: 400px;
        height: 400px;
      margin: 0px 0 0 280px;
    }
    }
  }
  h3 {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    padding: 75px 0 0 0;
    @media(max-width: $minWidth){
      padding: 35px 0 0 0;
    }
  }
  &_element{
    .slick-arrow{
      position: absolute;
      font-size: 0;
    }
    .slick-list{
      overflow: hidden;
    }
    .slick-track{
      display: flex;
    }

  }
  &_text{

    h5{
      font-size: 20px;
      color: $mentor-author;
      margin: -300px 0 0 400px;
      @media(max-width: $minWidth){
        margin: 0 0 0 0;
        text-align: center;
      }
    }
    hr{
      background-color: $mentor-text-2;
      color: $mentor-text-2;
      width: 670px;
      margin: 20px 0 0 400px;

@media(max-width: $minWidth){
  width: 900px;
  margin: 50px 0 0 40px;;
}
    }
    h4{
      width: 670px;
      height: 300px;
      font-size: 16px;
      font-weight: 400;
      color: $mentor-text;
      margin: 35px 0 0 400px;
      @media(max-width: $minWidth){
        width: 900px;
        height: auto;
        font-size: 15px;
        margin: 35px 0 0 0;
        padding: 10px 40px 0 40px;
        text-align: center;
      }
    }
  }
  .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 45px 0;
    @media(max-width: $minWidth){
      padding: 50px 0 50px 0;
    }
  }
  .slick-dots li{
    list-style: none;
    margin: 0 10px;
  }

  .slick-dots li.slick-active button{
    background-color: #6f7982;
    border: 1px solid #6f7982;
  }

  .slick-dots li button{
    font-size: 0;
    width: 13px;
    height: 13px;
    background-color: #c4c4c4;
    border-radius: 50%;
    @media(max-width: $minWidth){
      width: 30px;
      height: 30px;
    }
  }
}