/*- HEADER -*/
$header-color: #fff;
$bottom-color: #357ab7;
$header-text: #6f7982;
$header-background: black;
/*- APPLICATION -*/
$application-text: #6f7982;
$application-background: #f7f7f7;
$application-bold: black;
$border: black;
$border-text: white;
/*- PAGE-SLIDER -*/
$slider-color: white;
$slider-text: #333333;
$text-slider: #666666;