/*- HEADER -*/
$header-color: #fff;
$bottom-color: #357ab7;
$header-text: #6f7982;
$header-background: black;
/*- APPLICATION -*/
$application-text: #6f7982;
$application-background: #f7f7f7;
$application-bold: black;
$border: black;
$border-text: white;
/*- PAGE-SLIDER -*/
$slider-color: white;
$slider-text: #333333;
$text-slider: #666666;
/*- STATISTICS -*/
$statistics-text: white;
$statistics-background: #4398db;
/*- COMMIT-SLIDER -*/
$commit-text: #c4c4c4;
$commit-background: #fff;
$commit-slider: black;
/*- VIDEO -*/
$video-background: #f7f7f7;
$video-text: #7c7c7c;
$video-text-2: black;
/*- MENTOR -*/
$mentor-background: #fff;
$mentor-text: #b6b6b6;
$mentor-author: #4398db;
$mentor-text-2: black;
/*- CTA -*/
$cta-background: #4398db;
$cta-text: white;
/*- FOOTER -*/
$footer-background: #f7f7f7;
$footer-text-1: #6a9dc9;
$footer-text-2: #8e8e8e;