@import "variables";
@import "fonts";
@import "mixins";

.slider {
  background-color: $slider-color;

  &_item {
    margin: 0 auto;
    height: 560px;
    max-width: $maxWidthContainer;
    background-color: $slider-color;
  }

  &_text {
    padding: 70px 0 0 0;
    text-align: center;
    font-size: 30px;
    color: $slider-text;
  }

  &_blocks {
    display: flex;
    flex-direction: row;
    padding: 45px 0 0 0;
    justify-content: center;

    .slick-arrow {
      position: absolute;
      font-size: 0;
    }

    @media (max-width: $minWidth) {
      margin: 0 0 0 -130px;
    }
  }

  .slick-list.draggable {
    overflow: hidden;
    @media (max-width: $minWidth) {
      width: 360px;
      align-items: center;
    }
  }

  .slick-track {
    display: flex;
    align-items: flex-start;
    height: 360px;
  }


  &_block-1 {
    width: 360px;
    height: 360px;
    text-align: center;

    @media (max-width: $minWidth) {
      margin-left: 1px;
    }
  }

  &_block-2 {
    width: 360px;
    height: 360px;
    text-align: center;
    margin-left: 65px;
    @media (max-width: $minWidth) {
      margin-left: 1px;
    }
  }

  &_block-3 {
    width: 360px;
    height: 360px;
    text-align: center;
    margin-left: 65px;
    @media (max-width: $minWidth) {
      margin-left: 1px;
    }
  }

  h3 {
    font-size: 24px;
    color: $text-slider;
    font-weight: 400;
  }

  hr {
    border: none;
    background-color: $bottom-color;
    color: $bottom-color;
    width: 357px;
    height: 1px;
    margin: 24px 0 0 2px;
    @media (max-width: $minWidth) {
      margin: 10px 0 0 2px;
    }
  }

  p {
    font-size: 16px;
    color: $text-slider;
    font-weight: 400;
    margin-top: 35px;
  }

  .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 -300px -220px;
  }

  .slick-dots li {
    list-style: none;
    margin: 0 10px;
  }

  .slick-dots li.slick-active button {
    background-color: #6f7982;
    border: 1px solid #6f7982;
  }

  .slick-dots li button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: $slider-color;
    border-radius: 50%;

  }
}
