@import "variables";
@import "fonts";
@import "mixins";

.statistics {
  background-color: $statistics-background;

  &_block {
    margin: 0 auto;
    height: 310px;
    max-width: $maxWidthContainer;
    background-color: $statistics-background;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    @media (max-width: $minWidth) {
      display: block;
      height: 700px;
img{
  width: 150px;
}
    }
  }

}

.block {
  padding: 0 42px 0 42px;
  @media (max-width: $minWidth) {
    align-items: center;
    justify-content: center;

  }

  &_first-element {

    width: 150px;
    height: 145px;
    text-align: center;

    h3 {
      font-size: 24px;
      font-weight: 400;
      color: $statistics-text;
    }

    p {
      font-size: 14px;
      color: $statistics-text;
      margin-top: 20px;
    }

    @media (max-width: $minWidth) {
      padding: 70px 0 0 0;
      width: 450px;
      height: auto;
      h3{
        font-size: 35px;
      }
      p {
        font-size: 34px;
        color: $statistics-text;
        margin-top: 5px;
      }
    }
  }

  &_second-element {

    width: 185px;
    height: 145px;
    margin-left: 140px;
    text-align: center;

    h3 {
      font-size: 24px;
      font-weight: 400;
      color: $statistics-text;
    }

    p {
      font-size: 14px;
      color: $statistics-text;
      margin-top: 20px;
    }

    @media (max-width: $minWidth) {
     padding-top: 20px;
      margin: -275px 0 0 415px;
      width: 450px;
      height: auto;
      h3{
        font-size: 35px;
      }
      p {
        font-size: 34px;
        margin-top: 5px;
      }
    }
  }

  &_third-element {

    width: 140px;
    height: 145px;
    margin-left: 145px;
    text-align: center;

    h3 {
      font-size: 24px;
      font-weight: 400;
      color: $statistics-text;
    }

    p {
      font-size: 14px;
      color: $statistics-text;
      margin-top: 20px;
    }

    @media (max-width: $minWidth) {

      margin: 15px 0 0 0px;
      width: 450px;
      height: auto;
      h3{
        font-size: 35px;
      }
      p {
        font-size: 34px;
        margin-top: 5px;
      }
    }
  }

  &_fourth-element {

    width: 280px;
    height: 145px;
    margin-left: 95px;
    text-align: center;

    h3 {
      font-size: 24px;
      font-weight: 400;
      color: $statistics-text;
    }

    p {
      font-size: 14px;
      color: $statistics-text;
      margin-top: 20px;
    }

    @media (max-width: $minWidth) {
      padding: 50px 0 0 0;
      margin: -305px 0 0 415px;
      width: 450px;
      height: auto;
      h3{
        font-size: 35px;
      }
      p {
        font-size: 34px;
        margin-top: 5px;
      }
    }
  }

}