@import "variables";
@import "fonts";
@import "mixins";
.video{
background-color: $video-background;
  &_element{
    height: 865px;
    margin: 0 auto;
    max-width: $maxWidthContainer;
    background-color: $video-background;
    align-items: center;
    justify-content: center;
  }
  h3{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    padding-top: 75px;
  }
  &_text{
    width: 1210px;
    height: 115px;
    padding-top: 20px;
    p{
      font-size: 17px;
      color: $video-text;
    }
    @media (max-width: $minWidth){
      width: 950px;
      height: 130px;
      padding: 20px 15px 0 15px;
      p{
        font-size: 14px;
        color: $video-text;
      }
    }
  }
  &_vid{
    text-align: center;
    padding-top: 30px;

    @media (max-width: $minWidth){
      max-width: 100%;
     height: auto;
    }
  }
}