@import "fonts";
@import "mixins";
@import "variables";
@import "body";
@import "header";
@import "application";
@import "page-slider";
@import "footer";

.wrapper{
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

